# general patterns

*.o
*.a
*.so
*.obj
*.lib
*.dll
*.la
*.cm[ioxat]
*.cmx[as]
*.cmti
*.annot
*.exe
*.exe.manifest
.DS_Store
*.out
*.out.dSYM
*.swp
_ocamltest
_ocamltestd
*.odoc
.merlin
_build
META
.depend
mlnet
Makefile
*.byte
config/config.log
config/config.status
config/configure
config/confdefs.h
config/config.h
config/Makefile.config
config/mldonkey.rc
packages/rpm/mldonkey.spec
packages/slackware/mldonkey.options
patches/ocaml-3.12.0.tar.gz
patches/local/bin/camlp4
patches/local/bin/camlp4boot
patches/local/bin/camlp4o
patches/local/bin/camlp4o.opt
patches/local/bin/camlp4of
patches/local/bin/camlp4of.opt
patches/local/bin/camlp4oof
patches/local/bin/camlp4oof.opt
patches/local/bin/camlp4orf
patches/local/bin/camlp4orf.opt
patches/local/bin/camlp4prof
patches/local/bin/camlp4r
patches/local/bin/camlp4r.opt
patches/local/bin/camlp4rf
patches/local/bin/camlp4rf.opt
patches/local/bin/mkcamlp4
patches/local/bin/ocaml
patches/local/bin/ocamlbuild
patches/local/bin/ocamlbuild.native
patches/local/bin/ocamlc
patches/local/bin/ocamlc.opt
patches/local/bin/ocamlcp
patches/local/bin/ocamldebug
patches/local/bin/ocamldep
patches/local/bin/ocamldep.opt
patches/local/bin/ocamllex
patches/local/bin/ocamllex.opt
patches/local/bin/ocamlmklib
patches/local/bin/ocamlmktop
patches/local/bin/ocamlobjinfo
patches/local/bin/ocamlopt
patches/local/bin/ocamlopt.opt
patches/local/bin/ocamlprof
patches/local/bin/ocamlrun
patches/local/bin/ocamlyacc
patches/local/lib/ocaml/arg.ml
patches/local/lib/ocaml/arg.mli
patches/local/lib/ocaml/arith_status.mli
patches/local/lib/ocaml/array.ml
patches/local/lib/ocaml/array.mli
patches/local/lib/ocaml/arrayLabels.ml
patches/local/lib/ocaml/arrayLabels.mli
patches/local/lib/ocaml/big_int.mli
patches/local/lib/ocaml/bigarray.mli
patches/local/lib/ocaml/buffer.ml
patches/local/lib/ocaml/buffer.mli
patches/local/lib/ocaml/callback.ml
patches/local/lib/ocaml/callback.mli
patches/local/lib/ocaml/camlheader
patches/local/lib/ocaml/camlheader_ur
patches/local/lib/ocaml/camlinternalLazy.ml
patches/local/lib/ocaml/camlinternalLazy.mli
patches/local/lib/ocaml/camlinternalMod.ml
patches/local/lib/ocaml/camlinternalMod.mli
patches/local/lib/ocaml/camlinternalOO.ml
patches/local/lib/ocaml/camlinternalOO.mli
patches/local/lib/ocaml/char.ml
patches/local/lib/ocaml/char.mli
patches/local/lib/ocaml/complex.ml
patches/local/lib/ocaml/complex.mli
patches/local/lib/ocaml/digest.ml
patches/local/lib/ocaml/digest.mli
patches/local/lib/ocaml/dynlink.mli
patches/local/lib/ocaml/expunge
patches/local/lib/ocaml/extract_crc
patches/local/lib/ocaml/filename.ml
patches/local/lib/ocaml/filename.mli
patches/local/lib/ocaml/format.ml
patches/local/lib/ocaml/format.mli
patches/local/lib/ocaml/gc.ml
patches/local/lib/ocaml/gc.mli
patches/local/lib/ocaml/genlex.ml
patches/local/lib/ocaml/genlex.mli
patches/local/lib/ocaml/hashtbl.ml
patches/local/lib/ocaml/hashtbl.mli
patches/local/lib/ocaml/int32.ml
patches/local/lib/ocaml/int32.mli
patches/local/lib/ocaml/int64.ml
patches/local/lib/ocaml/int64.mli
patches/local/lib/ocaml/lazy.ml
patches/local/lib/ocaml/lazy.mli
patches/local/lib/ocaml/ld.conf
patches/local/lib/ocaml/lexing.ml
patches/local/lib/ocaml/lexing.mli
patches/local/lib/ocaml/list.ml
patches/local/lib/ocaml/list.mli
patches/local/lib/ocaml/listLabels.ml
patches/local/lib/ocaml/listLabels.mli
patches/local/lib/ocaml/Makefile.config
patches/local/lib/ocaml/map.ml
patches/local/lib/ocaml/map.mli
patches/local/lib/ocaml/marshal.ml
patches/local/lib/ocaml/marshal.mli
patches/local/lib/ocaml/moreLabels.ml
patches/local/lib/ocaml/moreLabels.mli
patches/local/lib/ocaml/nat.mli
patches/local/lib/ocaml/nativeint.ml
patches/local/lib/ocaml/nativeint.mli
patches/local/lib/ocaml/num.mli
patches/local/lib/ocaml/obj.ml
patches/local/lib/ocaml/obj.mli
patches/local/lib/ocaml/objinfo_helper
patches/local/lib/ocaml/oo.ml
patches/local/lib/ocaml/oo.mli
patches/local/lib/ocaml/outcometree.mli
patches/local/lib/ocaml/parsing.ml
patches/local/lib/ocaml/parsing.mli
patches/local/lib/ocaml/pervasives.ml
patches/local/lib/ocaml/pervasives.mli
patches/local/lib/ocaml/printexc.ml
patches/local/lib/ocaml/printexc.mli
patches/local/lib/ocaml/printf.ml
patches/local/lib/ocaml/printf.mli
patches/local/lib/ocaml/queue.ml
patches/local/lib/ocaml/queue.mli
patches/local/lib/ocaml/random.ml
patches/local/lib/ocaml/random.mli
patches/local/lib/ocaml/ratio.mli
patches/local/lib/ocaml/scanf.ml
patches/local/lib/ocaml/scanf.mli
patches/local/lib/ocaml/set.ml
patches/local/lib/ocaml/set.mli
patches/local/lib/ocaml/sort.ml
patches/local/lib/ocaml/sort.mli
patches/local/lib/ocaml/stack.ml
patches/local/lib/ocaml/stack.mli
patches/local/lib/ocaml/std_exit.ml
patches/local/lib/ocaml/stdLabels.ml
patches/local/lib/ocaml/stdLabels.mli
patches/local/lib/ocaml/str.mli
patches/local/lib/ocaml/stream.ml
patches/local/lib/ocaml/stream.mli
patches/local/lib/ocaml/string.ml
patches/local/lib/ocaml/string.mli
patches/local/lib/ocaml/stringLabels.ml
patches/local/lib/ocaml/stringLabels.mli
patches/local/lib/ocaml/sys.ml
patches/local/lib/ocaml/sys.mli
patches/local/lib/ocaml/threads
patches/local/lib/ocaml/unix.mli
patches/local/lib/ocaml/unixLabels.mli
patches/local/lib/ocaml/weak.ml
patches/local/lib/ocaml/weak.mli
patches/local/lib/ocaml/caml/alloc.h
patches/local/lib/ocaml/caml/bigarray.h
patches/local/lib/ocaml/caml/callback.h
patches/local/lib/ocaml/caml/compatibility.h
patches/local/lib/ocaml/caml/config.h
patches/local/lib/ocaml/caml/custom.h
patches/local/lib/ocaml/caml/fail.h
patches/local/lib/ocaml/caml/intext.h
patches/local/lib/ocaml/caml/memory.h
patches/local/lib/ocaml/caml/misc.h
patches/local/lib/ocaml/caml/mlvalues.h
patches/local/lib/ocaml/caml/printexc.h
patches/local/lib/ocaml/caml/signals.h
patches/local/lib/ocaml/caml/socketaddr.h
patches/local/lib/ocaml/caml/unixsupport.h
patches/local/lib/ocaml/vmthreads/condition.mli
patches/local/lib/ocaml/vmthreads/event.mli
patches/local/lib/ocaml/vmthreads/mutex.mli
patches/local/lib/ocaml/vmthreads/thread.mli
patches/local/lib/ocaml/vmthreads/threadUnix.mli
patches/local/man/man1/ocaml.1
patches/local/man/man1/ocamlbuild.1
patches/local/man/man1/ocamlc.1
patches/local/man/man1/ocamlc.opt.1
patches/local/man/man1/ocamlcp.1
patches/local/man/man1/ocamldebug.1
patches/local/man/man1/ocamldep.1
patches/local/man/man1/ocamldoc.1
patches/local/man/man1/ocamllex.1
patches/local/man/man1/ocamlmktop.1
patches/local/man/man1/ocamlopt.1
patches/local/man/man1/ocamlopt.opt.1
patches/local/man/man1/ocamlprof.1
patches/local/man/man1/ocamlrun.1
patches/local/man/man1/ocamlyacc.1
src/daemon/common/giftLexer.ml
src/daemon/common/giftParser.ml
src/daemon/common/giftParser.mli
src/daemon/driver/driverGraphics.ml
src/networks/bittorrent/bTUdpTracker.ml
src/networks/donkey/donkeyNodesDat.ml
src/networks/donkey/donkeySui.ml
src/networks/fasttrack/fasttrackClients.ml
src/networks/fasttrack/fasttrackComplexOptions.ml
src/networks/fasttrack/fasttrackFunctions.ml
src/networks/fasttrack/fasttrackInteractive.ml
src/networks/fasttrack/fasttrackMain.ml
src/networks/fasttrack/fasttrackOptions.ml
src/networks/fasttrack/fasttrackTypes.ml
src/networks/gnutella2/g2Clients.ml
src/networks/gnutella2/g2ComplexOptions.ml
src/networks/gnutella2/g2Functions.ml
src/networks/gnutella2/g2Globals.ml
src/networks/gnutella2/g2Interactive.ml
src/networks/gnutella2/g2Main.ml
src/networks/gnutella2/g2Options.ml
src/networks/gnutella2/g2Protocol.ml
src/networks/gnutella2/g2Servers.ml
src/networks/gnutella2/g2Types.ml
src/networks/opennap/napigator.ml
src/utils/bitstring/bitstring_persistent.ml
src/utils/bitstring/bitstring.ml
src/utils/cdk/tar.ml
src/utils/lib/autoconf.ml
src/utils/lib/autoconf.ml.new
src/utils/lib/gAutoconf.ml
src/utils/lib/gAutoconf.ml.new
src/utils/lib/gettext.ml
src/utils/lib/http_lexer.ml
src/utils/lib/magic.ml
src/utils/lib/misc2.ml
src/utils/lib/options.ml
src/utils/xml-light/xml_lexer.ml
src/utils/xml-light/xml_parser.ml
src/utils/xml-light/xml_parser.mli
tools/ocamlpp.ml
mlnet.bak
patches/ocaml-4.01.0.tar.gz

# Directories
config/autom4te.cache/
patches/local/
